* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.box {
    margin: 0 auto;
    width: 1180px;
    height: 940px;
    position: relative;
    overflow: hidden;
}

.img {
    width: 9440px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.img li {
    float: left;
}

.img li img {
    width: 1180px;
}

.circle {
    position: absolute;
    left: 500px;
    bottom: 20px;
}

.circle li {
    width: 10px;
    height: 10px;
    float: left;
    background-color: #bfbfbf;
    margin: 0 10px;
    border-radius: 50px;
}

.circle li .on {
    background-color: #00a4ff;
}

span {
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.7);
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 50px;
    top: 50%;
    margin-top: -80px;
    cursor: pointer;
    display: none;
}

.box:hover span {
    display: block;
}

.left {
    left: 10px;
    border-radius: 50%;
}

.right {
    right: 10px;
    border-radius: 50%;
}